h1{
	color:#FFFFFF;
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	padding-top: 20px;
	text-align: center;
}

p {
	color: white;
	font-size: 20px;
	margin-right:40px;
	margin-left:40px;
	font-family: 'Raleway', sans-serif;
	padding-top: 30px;
	text-align: center;
}

body{

	background-color: #04184F;

}

