h1 {
	color:#FFFFFF;
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	padding-top: 20px;
	text-align: center;

}

h2 {
	color:#FFFFFF;
	font-size: 65px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
body{background-color: #04184F;}

